<%- include('../../layout/header') %>
<div class="row">
  <div class="col-md-12">
    <h2 class="m-b-30">Danh sách quy trình</h2>
    <div class="m-b-30">
      <button type="button" class="btn btn-primary" id="add-new-position"> <i
          class="fas fa-plus-square"></i>&nbsp; Thêm mới</button>
    </div>
        <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
        <thead >
          <tr>
            <th>STT</th>
            <th>Tên quy trình</th>
            <th>Mô tả</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% workflows.forEach(function(workflow, key) { %>
          <tr class="tr-shadow" data-id="<%= workflow.id %>"
            data-name="<%= workflow.name %>"
            data-description="<%= workflow.description %>">
            <td><%= key + 1 %></td>
            <td><span class="block-email"><%= workflow.name %></span></td>
            <td class="desc"><%= workflow.description %></td>
            <td>
              <div class="table-data-feature">
                <!-- Nút Edit để kích hoạt Modal -->
                 <a href="/workflows/<%= workflow.id %>">
                   <button class="item" data-toggle="tooltip" data-placement="top"
                   title="Chi tiết">
                   <i class="fas fa-info-circle"></i>
                  </button>
                </a>
                <button class="item edit-btn" data-toggle="tooltip" data-placement="top"
                  title="Chỉnh sửa">
                  <i class="zmdi zmdi-edit"></i>
                </button>
                <button class="item" data-toggle="tooltip" data-placement="top"
                  title="Xóa">
                  <i class="zmdi zmdi-delete"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr class="spacer"></tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // Hiển thị modal thêm mới
  $('#add-new-position').click(function() {
    var form =
      '<div class="modal fade" id="newWorkflowModal" tabindex="-1" aria-labelledby="newWorkflowModalLabel" aria-hidden="true">'+
        '<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h5 class="modal-title" id="newWorkflowModalLabel">Thêm mới quy trình</h5>'+
              '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'+
            '</div>'+
            '<div class="modal-body">'+
              '<form action="/workflows" method="post">'+
                '<div class="form-group">'+
                  '<label for="name">Tên quy trình:</label>'+
                  '<input type="text" class="form-control" id="name" name="name">'+
                '</div>'+
                '<div class="form-group">'+
                  '<label for="description">Mô tả:</label>'+
                  '<textarea class="form-control" id="description" name="description"></textarea>'+
                '</div>'+
                '<button type="submit" class="btn btn-primary">Thêm mới</button>'+
              '</form>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';
    // Thêm form vào body
    $('body').append(form);
    // Hiển thị modal
    $('#newWorkflowModal').modal('show');
  });

  // Hiển thị modal chỉnh sửa khi click vào nút "Edit"
  $('.edit-btn').click(function() {
    // Lấy thông tin từ dòng được chọn
    var row = $(this).closest('tr');
    var id = row.data('id');
    var name = row.data('name');
    var description = row.data('description');

    // Tạo form chỉnh sửa động với dữ liệu từ dòng
    var editForm =
      '<div class="modal fade" id="editWorkflowModal" tabindex="-1" aria-labelledby="editWorkflowModalLabel" aria-hidden="true">'+
        '<div class="modal-dialog">'+
          '<div class="modal-content">'+
            '<div class="modal-header">'+
              '<h5 class="modal-title" id="editWorkflowModalLabel">Chỉnh sửa quy trình</h5>'+
              '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'+
            '</div>'+
            '<div class="modal-body">'+
              '<form action="/workflows?_method=PATCH" method="POST" id="edit-position-form">'+
                '<input type="hidden" name="id" id="edit-id" value="'+ id +'">'+
                '<div class="form-group">'+
                  '<label for="edit-name">Tên quy trình:</label>'+
                  '<input type="text" class="form-control" id="edit-name" name="name" value="'+ name +'" required>'+
                '</div>'+
                '<div class="form-group">'+
                  '<label for="edit-description">Mô tả:</label>'+
                  '<textarea class="form-control" id="edit-description" name="description">'+ description +'</textarea>'+
                '</div>'+
                '<button type="submit" class="btn btn-primary">Lưu thay đổi</button>'+
              '</form>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';
    $('body').append(editForm);
    $('#editWorkflowModal').modal('show');
  });
});
</script>

<%- include('../../layout/footer') %>
